<div class="site-map">

  <div class="site-map-holder" #mapHolder>
  </div>
  <div class="site-map-overlay">
      <div class="site-map-info">
          
      </div>
      <div class="site-map-buttons">


      </div>
  </div>

  <div class="site-map-loading" *ngIf="showLoading">
      <p>Loading...</p>
  </div>
  <div class="site-map-error" *ngIf="showError">
      <p>Oops! Error loading map.</p>
  </div>

  <ng-content></ng-content>

  <mat-toolbar color="accent" class="site-map-toolbar">

      <button mat-icon-button mdTooltip="Add Location" mdTooltipPosition="above" (click)="checkMarker()">
          <mat-icon>add_location</mat-icon>
      </button>
      <button mat-icon-button mdTooltip="Edit Location" mdTooltipPosition="above" (click)="selectTool('edit')">
          <mat-icon>edit_location</mat-icon>
      </button>
      <button mat-icon-button mdTooltip="Move Location" mdTooltipPosition="above" (click)="selectTool('move')">
          <mat-icon>pin_drop</mat-icon>
        </button>

      <div class="toolbar-spacer"></div>

      <div class="site-map-coords-info">
          Lat: <span class="typo-caption" [innerHtml]="mapInfo.cursorPos.lat | coords:'lat'"></span><br>
          Lng: <span class="typo-caption" [innerHtml]="mapInfo.cursorPos.lng | coords:'lng'"></span><br>
      </div>
      <div class="site-map-coords-info">
          Lat: <span class="typo-caption" [innerHtml]="marker.position.lat | coords:'lat'"></span><br>
          Lng: <span class="typo-caption" [innerHtml]="marker.position.lng | coords:'lng'"></span><br>
      </div>
      <div class="site-map-zoom-info">
          <span class="typo-caption">Zoom: {{ mapInfo.zoom }}</span>
      </div>




  </mat-toolbar>


</div>