
<!-- <mat-form-field>
    <input matInput type="text" placeholder="Search" [matAutocomplete]="auto" [formControl]="searchTerm" id="searchBar">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let result of searhResults | async" [value]="result.formatted_address" (click)="center(result)">
            {{ result.formatted_address }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field> -->
    <pv-map (move)="mouseMoved($event)" [zoom]="8" [center]="{lat: 0, lng: 0}" *ngIf="showMap">
        <pv-map-marker *ngFor="let control of markersControl.controls"
            [formControl]="control">
            <pv-map-info-window content=
                "<div class='window'>
                    <h2>
                        Pre-Rendered Dialog
                    </h2>
                    <p>
                        This is a pre-rendered dialog, which means that <code>$mdDialog</code> doesn't compile its
                        template on each opening.
                    </p>
                    <p>
                        The Dialog Element is a static element in the DOM, which is just visually hidden.<br/>
                        Once the dialog opens, we just fetch the element from the DOM into our dialog and upon close
                        we restore the element back into its old DOM position.
                    </p>
                </div>">
            </pv-map-info-window>
        </pv-map-marker>
        <pv-map-polygon *ngFor="let control of polysControl.controls"
            [formControl]="control">
        </pv-map-polygon>
    </pv-map>
<div class="debug-info">
    <button (click)="showMap = !showMap">Toggle Map</button>
    <button (click)="addMarker()">Add</button>
    <button (click)="removeMarker()">Remove</button>
    <pre>
        <code>
            Info:
            {{ mapInfo | json }}
        </code>
    </pre>
    <pre>
        <code>
            Polygon:
            {{ polysControl.value | json }}
        </code>
    </pre>
    <pre>
        <code>
            Marker:
            {{ markersControl.value | json }}
        </code>
    </pre>
</div>